.locationNavBtn {
  font-size: 3em;
  color: #6cb2eb;
}

.location {
  padding-top: 3rem;
  padding-bottom: 1rem;

  h2 {
    font-weight: bold;
    color: #4a4a4a;

    &.nowis {
      color: lightgrey;
    }
  }
}

@media (max-width: 480px) {
  .location {
    padding: 0rem;
  }
}
