.cutLoader {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 10px;

  -webkit-mask: radial-gradient(circle closest-side, #66CC66 94%, #0000) left/20% 100%;
  background: linear-gradient(#66CC66 0 0) left/0% 100% no-repeat #E4E4ED;
  animation: p7 2s infinite steps(6);
}

@keyframes p7 {
  100% {
    background-size: 120% 100%
  }
}